<ion-header>
	<ion-navbar>
		<rightmenu-button></rightmenu-button>
		<ion-buttons end>
			<button ion-button icon-only (click)="addNewRecipe()">
				<ion-icon name="add"></ion-icon>
			</button>
			<button ion-button icon-only (click)="onRecipeOptions($event)">
				<ion-icon name="more"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title>recipes</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<button ion-item *ngIf="!hasRecipes" (click)="addNewRecipe()">
			Plsase add New Recipe
		</button>
		<button ion-item *ngFor="let rc of recipes; let i = index;" (click)="onLoadRecipe(i, rc)">
			<h2>
				{{rc.title}}
			</h2>
			<ion-note>
				{{rc.difficulty}}
			</ion-note>
		</button>
	</ion-list>
</ion-content>
