<ion-header *ngIf="!isAuthenUser">
	<ion-navbar>
		<rightmenu-button></rightmenu-button>
		<ion-title>{{siulMode}}</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding *ngIf="!isAuthenUser">
	<ion-card>
		<ion-card-header>
			{{siulMode}} Form
		</ion-card-header>
		<ion-card-content>
			<form #suilForm="ngForm" (ngSubmit)="onUserSubmit(suilForm)">
				<ion-item>
					<ion-label fixed>
						Email:
					</ion-label>
					<ion-input type="email" name="useremail" placeholder="sth@sth.com" ngModel email="true" required></ion-input>
				</ion-item>
				<ion-item>
					<ion-label fixed>
						Password:
					</ion-label>
					<ion-input type="password" name="userpassword" placeholder="xxxxxx" ngModel required [minlength]="6"></ion-input>
				</ion-item>
				<button ion-button full block type="submit" [disabled]="!suilForm.valid">
					{{siulMode}}
				</button>
			</form>
		</ion-card-content>
	</ion-card>
</ion-content>


<ion-header *ngIf="isAuthenUser">
	<ion-navbar>
		<rightmenu-button></rightmenu-button>
		<ion-title>Welcome</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding *ngIf="isAuthenUser">
	<ion-grid>
		<ion-row class="mt-3em">
			<ion-col>
				Welcome haha... This solution is pretty bad -- tmp solution only.
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
